# Models
models/
!models/.gitkeep
data/
notebooks/dataset_aromatic_duckduckgo/

# Env
.env
.envrc
mlartifacts
mlflow-artifacts
mlruns
mlflow.db

# python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
venv/
ENV/
env/
.venv/